body {
    font-family: sans-serif;
    background-color: #18181d;
    color: aliceblue;
}


#gameContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* This makes the div take up the full height of the viewport */
}